.header {
  height: 72px;
  max-width: 375px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.auth {
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 16px;
  cursor: pointer ;
  & img {
    width: 96px;
    height: 49px;
  }
}

.logo:focus {
  outline: none;
}

img[alt="iron_man"] {
  border-radius: 50%;
  margin: 0 16px 0 12px;
}
