<div class="create_by textWhite">
  <div class="create_by__item">
    <div class="left">
      <p>CREATED BY:</p>
    </div>
    <div class="right">
      <div><span>Starlord</span></div>
      <div><img src="../../../../assets/gallery/avatar.png" alt="avatar1"></div>
    </div>
  </div>
  <div class="create_by__item">
    <div class="left">
      <p>EXPERT:</p>
    </div>
    <div class="right">
      <div><p>The Lady </p></div>
      <div><img src="../../../../assets/gallery/avatar.png" alt="avatar2"></div>
    </div>
  </div>
  <div class="create_by__item">
    <div class="left">
      <p>PLAYERS JOINED:</p>
    </div>
    <div class="right">
      <img src="../../../../assets/gallery/hard_code.png" alt="1">
    </div>
  </div>
</div>



