/* You can add global styles to this file, and also import other style files */


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  background-color: #242521;
  max-width: 375px;
  margin: auto;
}

.container-background-2 {
  background: url("./assets/gallery/Polygon1.png") 25% 81% no-repeat,
  url("./assets/gallery/Polygon1.png") no-repeat 26% 93%,
  url("./assets/gallery/Polygon2.png") no-repeat 65% 92% #242521;
}

